[submodule "linux"]
	path = linux
	url = https://github.com/YADRO-KNS/linux.git
[submodule "busybox"]
	path = busybox
	url = git://git.busybox.net/busybox
[submodule "riscv-gnu-toolchain"]
	path = riscv-gnu-toolchain
	url = https://github.com/riscv/riscv-gnu-toolchain
[submodule "u-boot"]
	path = u-boot
	url = https://github.com/YADRO-KNS/u-boot.git
[submodule "opensbi"]
	path = opensbi
	url = https://github.com/YADRO-KNS/opensbi.git
[submodule "klibc"]
	path = klibc
	url = git://git.kernel.org/pub/scm/libs/klibc/klibc.git
[submodule "qemu"]
	path = qemu
	url = https://github.com/maquefel/qemu.git
	#url = https://gitlab.com/qemu-project/qemu.git
