[submodule "linux"]
	path = linux
	url = ssh://git@b.yadro.com:7999/~n.shubin/kernel-unmatched.git
[submodule "busybox"]
	path = busybox
	url = git://git.busybox.net/busybox
[submodule "riscv-gnu-toolchain"]
	path = riscv-gnu-toolchain
	url = https://github.com/riscv/riscv-gnu-toolchain
