[submodule "linux"]
	path = linux
	url = ssh://git@b.yadro.com:7999/~n.shubin/kernel-unmatched.git
[submodule "busybox"]
	path = busybox
	url = git://git.busybox.net/busybox
[submodule "riscv-gnu-toolchain"]
	path = riscv-gnu-toolchain
	url = https://github.com/riscv/riscv-gnu-toolchain
[submodule "u-boot"]
	path = u-boot
	url = ssh://git@b.yadro.com:7999/~n.shubin/u-boot-unmatched.git
[submodule "opensbi"]
	path = opensbi
	url = ssh://git@b.yadro.com:7999/~n.shubin/opensbi-unmatched.git
[submodule "klibc"]
	path = klibc
	url = git://git.kernel.org/pub/scm/libs/klibc/klibc.git
[submodule "qemu"]
	path = qemu
	url = https://gitlab.com/qemu-project/qemu.git
